/* Reset styles from https://mattbrictson.com/blog/css-normalize-and-reset */

:root {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* ----------------------------------- */

:root {
    font-family: "Roboto", sans-serif;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid grey;
    border-radius: 5px;
}

.content {
    padding: 16px;
    background: lightgray;
}

.project {
    display: grid;
    grid-template-rows: max-content auto max-content;
    max-width: 360px;
    height: 230px;
    border-radius: 10px;
    border-left: 10px solid orange;
    padding: 32px 16px;
    background-color: #fff;
}

.project__title {
    font-size: 1.15rem;
    font-weight: bold;
}

.project__icons {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1.5rem);
    justify-content: end;
    align-content: end;
    gap: 1.5rem;
}