/* Reset styles from https://mattbrictson.com/blog/css-normalize-and-reset */

:root {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* ----------------------------------- */

:root {
    font-family: "Roboto", sans-serif;
}

.c-sidebar {
    padding: 24px;
    background: royalblue;
}

.c-sidebar__header {
    display: flex;
    align-items: center;
    gap: 16px;
}

._square {
    width: 75px;
    height: 75px;
    background: #fff;
}

.c-sidebar__title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.c-content {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 24px;
    padding: 16px;
    background: lightgray;
}

.c-content__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.l-content__main {
    grid-row: 1 / -1;
}

.l-content__projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 24px;
}

.c-project {
    display: grid;
    grid-template-rows: max-content auto max-content;
    height: 230px;
    border-radius: 10px;
    border-left: 10px solid orange;
    padding: 24px 16px;
    background-color: #fff;
}

.c-project__title {
    font-size: 1.15rem;
    font-weight: bold;
}

.c-project__text {
    color: #646464;
}

.l-project__icons {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1.5rem);
    justify-content: end;
    align-content: end;
    gap: 1.5rem;
    margin-top: 8px;
    margin-right: 16px;
}

.c-announcements {
    display: grid;
    gap: 16px;
    border-radius: 10px;
    padding: 24px;
    background: #fff;
}

.c-announcements__item {
    border-top: 1px solid lightgray;
    padding-top: 16px;
}

.c-announcements__item:first-child {
    border: none;
    padding: 0;
}

.c-announcements__title {
    font-weight: bold;
}

.c-announcements__text {
    font-size: .9rem;
    color: #646464;
}

.c-trending {
    display: grid;
    gap: 24px;
    border-radius: 10px;
    padding: 24px;
    background: #fff;
}

.c-profile {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 16px;
}

.c-profile__img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #000;
}

.c-profile__project {
    color: #646464;
}